body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

#container {
  width: 92%;
}

#top-divider {
  height: 3px;
  margin-top: 1.8rem;
}

#file {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 30px;
}

hr {
  color: #ced4da;
  background-color: #ced4da;
  opacity: 1;
}

.header-brand {
  font-size: 72px;
}

.middle-container {
  flex-basis: 50%;
  display: -ms-inline-grid;
}

.side-container {
  display: -ms-inline-grid;
  flex-basis: 25%;
}
