@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  src: url(fonts/Poppins-ExtraBold.ttf) format("truetype");
}

:root {
  --bs-primary: #fa8a10;
  --bs-primary-hs: 31, 95%;
  --bs-primary-rgb: 250, 138, 16;
  --bs-accent: #264be0;
  --bs-accent-rgb: 38, 75, 224;
  --bs-info: #20c798;
  --bs-info-rgb: 32, 199, 152;

  --bs-black: #060606;
  --bs-black-rgb: 6, 6, 6;
  --bs-white: #fafafa;
  --bs-white-rgb: 250, 250, 250;
  --bs-light: #ced4da;
  --bs-light-rgb: 206, 212, 218;
  --bs-dark: #3c3c3c;
  --bs-dark-rgb: 60, 60, 60;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-accent {
  background-color: var(--bs-accent) !important;
}

.border-accent {
  border-color: var(--bs-accent) !important;
}

.btn-primary {
  --bs-btn-bg: hsl(var(--bs-primary-hs), 50%);
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-bg: hsl(var(--bs-primary-hs), 47%);
  --bs-btn-hover-border-color: hsl(var(--bs-primary-hs), 44%);
  --bs-btn-active-bg: var(--bs-btn-hover-border-color);
  --bs-btn-active-border-color: hsl(var(--bs-primary-hs), 41%);
  --bs-btn-disabled-bg: var(--bs-btn-bg);
  --bs-btn-disabled-border-color: var(--bs-btn-bg);
}

.border-black {
  border-color: var(--black) !important;
}

.card-header:first-child {
  border-radius: 0;
}

.fw-800 {
  font-weight: 800 !important;
}
